@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$eater: "Eater", cursive;
$nosifer: "Nosifer", cursive;
$frijole: "Frijole", cursive;
$faster: "Faster One", cursive;
$ps2p: "Press Start 2P", cursive;