@import "__fonts";
@import "__constants";

.nav-bar-wrapper {
  width: 100%;
  display: flex;
  padding: 20px 200px;
  align-items: center;
  box-shadow: 0 5px 10px $primary;
  justify-content: space-between;
  .logo {
    gap: 20px;
    display: flex;
    font-size: 2rem;
    align-items: center;  
    font-family: $faster;
    flex-direction: row-reverse;
    justify-content: space-between;
    img {
      height: 50px;
    }
  }
  .links {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: $primary;
      font-family: $nosifer;
      text-decoration: none;
      &.router-link-exact-active {
        text-decoration: underline;
      }
    }
  }
}